body {
    background-color: #757575;
    margin: 0px;
    color: #fff;
}

h1,
h2,
h3,
h4 {
    margin-left: 16px;
    margin-top: 32px;
}

img {
    border-radius: 10px;
    box-shadow: inset;
}

li {
    margin-left: 32px;
    margin-bottom: 8px;
}

pre {
    background-color: #424242;
    color: #fff;
}

code {
    padding: 0px;
}

.http-method {
    text-transform: uppercase;
}

pre.get {
    background-color: #0f6ab4;
}

pre.post {
    background-color: #10a54a;
}

pre.put {
    background-color: #c5862b;
}

pre.delete {
    background-color: #a41e22;
}

.huge {
    color: #fff;
}

pre {
    padding: 10px;
    margin-bottom: 2px;
}

ul {
    list-style-type: none;
}